.price {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $bg-color;
}
.price-card {
  width: 380px;
  height: 770px;
  position: relative;
  overflow: hidden;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 18px;
  background: $bg-color-card;

  &:last-child {
    margin-right: 0;
  }

  &__label-special {
    position: absolute;
    width: 147px;
    top: 30px;
    right: -30px;
    text-align: center;
    transform: rotate(45deg);
    background: $bg-color-label;
  }

  &__label-special_text {
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
  }

  &__title {
    margin-top: 33px;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
  }

  &__price {
    height: 105px;
    margin-top: 33px;
    font-weight: 700;
    font-size: 55px;
    line-height: 105px;
    text-align: center;

    &-green {
      background: $bg-color-green;
    }
    &-blue {
      background: $bg-color-blue;
    }
    &-orange {
      background: $bg-color-orange;
    }
  }

  &__description {
    margin-top: 40px;
    padding: 0 26px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
  }

  &__options-list {
    margin: 40px 0 0 0;
    padding: 0;
  }

  &__options-item {
    height: 50px;
    position: relative;
    padding-left: 22px;
    font-weight: 300;
    font-size: 15px;
    line-height: 50px;
    list-style-type: none;

    &:nth-child(odd) {
      background: #2a3438;
    }
  }
  &__icon_green {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 22px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
  }
  &__icon_blue {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 22px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
  }
  &__icon_orange {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-right: 22px;
    background: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
  }
  &__order-btn {
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 154.5px;
    margin-top: 39px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    text-align: center;
    color: $color-white;

    &_green {
      background-color: $bg-color-green;
    }
    &_blue {
      background-color: $bg-color-blue;
    }
    &_orange {
      background-color: $bg-color-orange;
    }
  }
}
