$color-white: #fff;

$bg-color: #141b1c;
$bg-color-second: #2a3438;
$bg-color-card: #334247;

$bg-color-green: #5bb189;
$bg-color-blue: #3a6ba5;
$bg-color-orange: #ec632a;

$bg-color-label: #dc3f45;

$font-family: 'Montserrat', sans-serif;
